@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Karantina:wght@300;400;700&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
 font-family: balthazar;
}
body{
  width: 100vw;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 5%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav ul{
  display: flex;

}

a{
  text-decoration: none;
  color: black;
  padding: 3px;
  margin: 0 8px;
}
.active{
  border-bottom: 2px solid black;
  padding-top: 3px;
 
}
.nav .logout{
  display: flex;
  align-items: center;
}
.cart{
  position: relative;
  width: 40px;
  margin: 0 30px;

}
.cart img{
  width: 100%;
}
.cart span{
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout button{
  padding: 6px 14px;
  background-color: red;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 4px;
}
.main{
  width: 100vw;
  padding: 2px 5%;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero img{
  width: 94%;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px;
  position: relative;
  z-index: -1;
}
.hero .bio{
  position: absolute;
  top: 0px;
  left: 100px;
  padding: 90px;
  width: 480px;
}
.bio h6{
  font-size: 46px;
  font-family: Satisfy;
  text-shadow: 2px 2px 2px white;

}
.bio h3{
  margin-bottom: 40px;
}
.bio span{
  padding: 12px 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0  3px 2px white;
}
.hero .bios{
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 90px;
  width: 480px;
  color: white;
}
.bios h6{
  font-size: 46px;
  font-family: satisfy;
  text-shadow: 2px 2px 2px black;

}
.bios h3{
  margin-bottom: 40px;
}
.bios span{
  padding: 12px 30px;
  background-color: rgb(0, 204, 255);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0  3px 2px white;
}

.item{
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid silver;
  overflow: hidden;
  
}
.item:hover{
  box-shadow: 0 0 1px 1px rgb(29, 28, 28);
  transform: scale(1.02);
}
.item img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}
.item h3{
  font-family: robust;padding: 10px;

}
.item img:hover{
  transform: scale(1.02);
}
.tops{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer{
  width: 98vw;
}
.footer img{
  width: 100%;
}
.shop .banners{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banners img{
  width: 90%;
  padding: 13px 3%;
}
.shop .products{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 5px 5%;
}
.shop .more{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.more span{
  padding: 8px 30px;
  margin: 30px;
  background-color: rgb(216, 212, 212);
  border-radius: 50px;
  cursor: pointer;
}

.display{
  display: flex;
  justify-content: space-between;
  padding: 3%;
  width: 100vw;

}
.display .display-left{
  flex-basis: 48%;
  padding:10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-left img{
  width: 300px;
}
.display .display-right{
  flex-basis: 48%;
  padding: 20px;
}
.display-right .rating{
  padding: 10px 3px 20px;
}
.rating img{
  width: 20px;
}
.display-right .prices{
  display: flex;
  align-items: center;

}
.prices h3{
  font-family: robust;
  text-decoration: line-through;
  color: gray;
  padding-right: 30px;
}
.prices h1{
  font-family: robust;
  color: red;
  font-size: 40px;
}
.display-right .buy{
  display: flex;
  align-items: center;
}
.buy button{
  padding: 10px 30px;
  margin: 30px;
  background: linear-gradient(to left, yellow, orange);
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;

}
.buy button:last-child{
  padding: 10px 30px;
  margin: 30px;
  background: linear-gradient(to right, rgb(0, 255, 30), green);
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}
.display-right .sizes{
  display: flex;
  align-items: center;
}
.sizes span{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 224, 224);
  border-radius: 3px;
  margin: 10px;
  border: 1px solid silver;
  cursor: pointer;

}
.reviews{
  display: flex;
  padding:0 8%;

}
.review p{
  margin:0 8%;
  text-align: justify;
  border: 1px solid silver;
  padding: 15px;
}

.reviews span{
  padding: 5px 10px;
  border: 1px solid silver;
  background-color: rgb(216, 210, 210);
}
.reviews span:first-child{
  padding: 5px 10px;
  border: 1px solid silver;
  background-color: rgb(65, 62, 62);
  color: white;
}